{% extends 'base.html' %}

{% block title %}Detalle de Alumno{% endblock %}

{% block content %}
<div class="container">
    <h2>Detalles de Alumno</h2>
    <p><strong>Nombre:</strong> {{ alumno.nombre }}</p>
    <p><strong>Apellido Paterno:</strong> {{ alumno.apellido_paterno }}</p>
    <p><strong>Apellido Materno:</strong> {{ alumno.apellido_materno }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ alumno.fecha_nacimiento }}</p>

    <a href="{% url 'editar_alumno' alumno.id %}" class="btn btn-primary">Editar</a>

    <a href="{% url 'eliminar_alumno' alumno.id %}" class="btn btn-danger">Eliminar</a>

    <a href="{% url 'lista_alumnos' %}" class="btn btn-secondary">Volver a la Lista de Alumnos</a>
    
</div>
{% endblock %}